<h3>Front</h3>
<ul>
  <li *ngFor="let m of media">
    <!--<img [src]="'http://media.mw.metropolia.fi/wbma/uploads/'+image.filename">-->
      <img [alt]="m.title" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + (m.filename | thumbnail: 'medium')">
  </li>
</ul>
